@import "../components/styles.scss";
.projects-cont {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include respond-to(sm) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
